.chart{
    flex:4;
    box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47); // reference : box-shadow generator
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
    padding: 10px;
    color:grey;
    //height: 70vh;

    .title{
        margin-bottom: 10px;
    }

    .chartGrid{
        stroke: rgb(228,225,225);
    }

}
